@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.serif-font {
  font-family: 'Playfair Display', serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d47311;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8610d;
}
